 <!-- Website for COGS121 Assignment 1 /-->
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="Got the Feels - COGS121 Assignment 1">
    <meta name="author" content="">

    <title>Home - COGS121 Assignment 1</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Google Web Font -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>

    <!-- Custom CSS-->
    <link href="css/general.css" rel="stylesheet">

	 <!-- Owl-Carousel -->
    <link href="css/custom.css" rel="stylesheet">
	<link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/animate.css" rel="stylesheet">
	<link href="css/change_bg.css" rel="stylesheet">

	<!-- Magnific Popup core CSS file -->
	<link rel="stylesheet" href="css/magnific-popup.css"> 
	
	<script src="js/modernizr-2.8.3.min.js"></script>  <!-- Modernizr /-->
	<!--[if IE 9]>
		<script src="js/PIE_IE9.js"></script>
	<![endif]-->
	<!--[if lt IE 9]>
		<script src="js/PIE_IE678.js"></script>
	<![endif]-->

	<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
	<![endif]-->

</head>

<body id="home">

	<!-- Preloader -->
	<div id="preloader">
		<div id="status"></div>
	</div>
	
	<!-- FullScreen -->
    <div class="intro-header">
		<div class="col-xs-12 text-center abcen1">
			<h1 class="h1_home wow fadeIn" data-wow-delay="0.4s">Got the Feels</h1>
			<h3 class="h3_home wow fadeIn" data-wow-delay="0.6s">A supportive community to be open about mental health.</h3>
			<ul class="list-inline intro-social-buttons">
				<li id="download" ><a href="#firsttime" class="btn  btn-lg mybutton_standard wow swing wow fadeIn" data-wow-delay="1.2s"><span class="network-name">First time? Learn more</span></a>
				</li>
				<li><a href="/auth/twitter" class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.8s"><span class="network-name">Log in via Twitter <i class="fa fa-twitter" aria-hidden="true"></i></span></a>
				</li>
			</ul>
		</div>    
        <!-- /.container -->
		<div class="col-xs-12 text-center abcen wow fadeIn">
			<div class="button_down "> 
				<a class="imgcircle wow bounceInUp" data-wow-duration="1.5s"  href="#firsttime"> <img class="img_scroll" src="img/icon/circle.png" alt=""> </a>
			</div>
		</div>
    </div>
	
	<!-- NavBar-->
	<nav class="navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#home">Got the Feels</a>
			</div>

			<div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					
					<li class="menuItem"><a href="#firsttime">What is Got the Feels?</a></li>
					<li class="menuItem"><a href="#useit">How It Works</a></li>
					<li class="menuItem"><a href="#question">FAQ</a></li>
					<li class="menuItem"><a href="#about">About</a></li>
					<li class="menuItem"><a href="/auth/twitter">Log in via Twitter <i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				</ul>
			</div>
		   
		</div>
	</nav> 
	
	<!-- What is -->
	<div id="firsttime" class="content-section-b" style="border-top: 0; background-image: url('../img/b3.jpg')">
		<div class="container">
			<div class="col-md-8 col-md-offset-2 text-center wrap_title" style="margin-bottom: 20px">
				<h2>Got the Feels?</h2>
			</div>
			<div class="row" style="margin-bottom: 35px">
				<div class="col-sm-3 wow fadeInDown text-center">
					<img class="rotate" src="img/icon/svg/1f616.svg" alt="Generic placeholder image" style="width: 100px">
					<!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
				</div><!-- /.col-lg-4 -->

				<div class="col-sm-3 wow fadeInDown text-center">
					<img class="rotate" src="img/icon/svg/1f626.svg" alt="Generic placeholder image" style="width: 100px">
					<!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
				</div><!-- /.col-lg-4 -->

				<div class="col-sm-3 wow fadeInDown text-center">
					<img class="rotate" src="img/icon/svg/1f629.svg" alt="Generic placeholder image" style="width: 100px">
					<!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
				</div><!-- /.col-lg-4 -->
				<div class="col-sm-3 wow fadeInDown text-center">
					<img class="rotate" src="img/icon/svg/1f610.svg" alt="Generic placeholder image" style="width: 100px">
					<!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
				</div><!-- /.col-lg-4 -->
			</div><!-- /.row -->
			<div class="col-md-8 col-md-offset-2 text-center wrap_title">
				<p class="lead" style="margin-top:0">What is Got the Feels?  Got the Feels is an open social network that helps UCSD students struggling with mental health issues connect with a community of their peers for mutual support.  Got the Feels was founded in 2016 by a group of five students concerned with the overall state of mental health on UCSD’s campus.  United by the goal of improving awareness of mental health issues and access to immediate help for those in need, we started searching for obstacles to these goals.  What we found was a lack of access to spaces where students who have struggled can meet, discuss, and support each other through their problems.
				</p>
				<p class="lead" style="margin-top:0">Here at Got the Feels, we believe that by uniting students of all walks of life who have experienced these issues on any scale we can create an online “space” for students to vent, support one another, and arrange meetups when access to a professional is not immediately available or necessary.  Whether you are experiencing serious grief or mild stress, our loving community supports any participation, just remember to stay encouraging!
				</p>
			</div>
		</div>
	</div>

	<!-- Screenshot -->
	<div id="useit" class="content-section-a">
        <div class="container">
          <div class="row" >
			 <div class="col-md-6 col-md-offset-3 text-center wrap_title ">
				<h2>How It Works</h2>
				<p class="lead" style="margin-top:0">It's easy!</p>
			 </div>
		  </div>
		    <div class="row wow bounceInUp" >
              <div id="owl-demo" class="owl-carousel">
				
				<a href="img/slide/1.png" class="image-link">
					<div class="item">
						<img  class="img-responsive img-rounded" src="img/slide/1.png" alt="Owl Image">
					</div>
				</a>
				
               <a href="img/slide/2.png" class="image-link">
					<div class="item">
						<img  class="img-responsive img-rounded" src="img/slide/2.png" alt="Owl Image">
					</div>
				</a>
				
				<a href="img/slide/3.png" class="image-link">
					<div class="item">
						<img  class="img-responsive img-rounded" src="img/slide/3.png" alt="Owl Image">
					</div>
				</a>
				
				<a href="img/slide/1.png" class="image-link">
					<div class="item">
						<img  class="img-responsive img-rounded" src="img/slide/1.png" alt="Owl Image">
					</div>
				</a>
				
               <a href="img/slide/2.png" class="image-link">
					<div class="item">
						<img  class="img-responsive img-rounded" src="img/slide/2.png" alt="Owl Image">
					</div>
				</a>
				
				<a href="img/slide/3.png" class="image-link">
					<div class="item">
						<img  class="img-responsive img-rounded" src="img/slide/3.png" alt="Owl Image">
					</div>
				</a>
              </div>       
          </div>
        </div>


	</div>
	
	<div id="question" class="content-section-c ">
		<div class="container">
			<div class="row">
			<div class="col-md-10 col-md-offset-1 text-center white">
				<h2>FAQ</h2>
				<p class="lead" style="margin-top:0">Frequently asked questions</p>
			</div>
				<div class="col-md-8 col-md-offset-2 text-center white">
					<h3>Q: How do I join?</h3>
					<p class="lead" style="margin-top:0">A: Got the Feels is powered by Twitter.com’s login system, to log into our system just use your Twitter username and password. Don’t worry, we never store this information so your passwords stay safe!
					</p>
				</div>
				<div class="col-md-8 col-md-offset-2 text-center white">
					<h3>Q: What if I don’t have a Twitter account?</h3>
					<p class="lead" style="margin-top:0">A: Our current platform only accepts Twitter login information.  If you don’t have Twitter, you can create a basic account at https://twitter.com/signup.  All you need is an email address.
					</p>
				</div>
				<div class="col-md-8 col-md-offset-2 text-center white">
					<h3>Q: How do I create a post?</h3>
					<p class="lead" style="margin-top:0">A: Creating a post is easy!  From the home page, simply enter one of the chat rooms that describes your emotions best, and start typing.  You post will be immediately viewable by others in the room who understand what you are going through.
					</p>
				</div>
				<div class="col-md-8 col-md-offset-2 text-center white">
					<h3>Q: How can I privately message other users?</h3>
					<p class="lead" style="margin-top:0">A: Our topic based chat-rooms are designed to be an open forum for people to share their feelings.  If you make a connection with another user, you can enter the “meetups” room, where you can privately message other users who want to meet up in person or online via Twitter’s messaging system.
					</p>
				</div>
				<div class="col-md-8 col-md-offset-2 text-center white">
					<h3>Q: How can I find more professional help?</h3>
					<p class="lead" style="margin-top:0">A: Got the Feels is designed to be a supportive community of peers, however we recognize that this support can only go so far.  If you feel like you need more serious help, please reach out to the UCSD Counseling and Psychological Services (CAPS) at 858-534-3755 to schedule an appointment.  If you are having a psychological emergency and are thinking about harming yourself, please contact 911.
					</p>
				</div>
			<div class="col-md-6 col-md-offset-3 text-center">
				<div class="mockup-content">
						<div class="morph-button wow pulse morph-button-inflow morph-button-inflow-1">
							<button type="button" style="display: none;"><span></span></button>
							<div class="morph-content">
								<div>

								</div>
							</div>
						</div>
				</div>
			</div>
			</div>
		</div>
	</div>

	
    <footer>
      <div id="about" class="container">
        <div class="row">
          <div class="col-md-7">
            <h3 class="footer-title">About the site</h3>
            <p>This is the site for the COGS121 Assignment 1<br/>
              Go to: <a  href="http://cogs121.ucsd.edu" target="_blank">cogs121.ucsd.edu</a>
            </p>
			
			<!-- LICENSE -->
		   The landing page theme is licensed to the public under
		   <BR>the <a rel="license"
		   href="http://creativecommons.org/licenses/by-nc/3.0/it/deed.it">Creative
		   Commons Attribution 3.0 License - NOT COMMERCIAL</a>.
          </div> <!-- /col-xs-7 -->

          <div class="col-md-5">
            <div class="footer-banner">
              <h3 class="footer-title">COGS 121 - Team O</h3>
              <ul>
                <li>---Team Members---</li>
                <li>Chinh, Bonnie</li>
                <li>Martin, Joseph Brainerd</li>
                <li>Thang, Anjelica Monique</li>
                <li>Wong, Lok Yi</li>
				<li>Yang, Chen</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>
	<script src="js/owl.carousel.js"></script>
	<script src="js/script.js"></script>
	<!-- StikyMenu -->
	<script src="js/stickUp.min.js"></script>
	<script type="text/javascript">
	  jQuery(function($) {
		$(document).ready( function() {
		  $('.navbar-default').stickUp();
		  
		});
	  });
	
	</script>
	<!-- Smoothscroll -->
	<script type="text/javascript" src="js/jquery.corner.js"></script> 
	<script src="js/wow.min.js"></script>
	<script>
	 new WOW().init();
	</script>
	<script src="js/classie.js"></script>
	<script src="js/uiMorphingButton_inflow.js"></script>
	<!-- Magnific Popup core JS file -->
	<script src="js/jquery.magnific-popup.js"></script> 
</body>

</html>
